<a href="https://colab.research.google.com/github/balatvm/pandas-essentials/blob/master/pandas_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [0]:
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/balatvm/pandas-essentials/master/pima-data.csv'
df1 = pd.read_csv(url)
df1

     num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0           6           148            72  ...   50  1.3790      True
1           1            85            66  ...   31  1.1426     False
2           8           183            64  ...   32  0.0000      True
3           1            89            66  ...   21  0.9062     False
4           0           137            40  ...   33  1.3790      True
..        ...           ...           ...  ...  ...     ...       ...
763        10           101            76  ...   63  1.8912     False
764         2           122            70  ...   27  1.0638     False
765         5           121            72  ...   30  0.9062     False
766         1           126            60  ...   47  0.0000      True
767         1            93            70  ...   23  1.2214     False

[768 rows x 10 columns]